# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

test_screen*.png
debug_screen*.png
